<html>
<head>
<title>Shooter.java</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,128); font-weight: bold; }
.s1 { color: rgb(0,0,0); }
.s2 { color: rgb(128,128,128); font-style: italic; }
.s3 { color: rgb(0,0,255); }
.s4 { color: rgb(0,128,0); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
Shooter.java</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">package </span><span class="s1">org.firstinspires.ftc.teamcode.components; 
 
</span><span class="s0">import </span><span class="s1">com.qualcomm.robotcore.hardware.ColorSensor; 
</span><span class="s0">import </span><span class="s1">com.qualcomm.robotcore.hardware.DcMotor; 
</span><span class="s0">import </span><span class="s1">com.qualcomm.robotcore.hardware.Servo; 
</span><span class="s0">import </span><span class="s1">org.firstinspires.ftc.teamcode.utilities.Hardware; 
</span><span class="s0">import </span><span class="s1">org.firstinspires.ftc.teamcode.utilities.Utils; 
 
</span><span class="s2">/** 
 * Created by benorgera on 11/24/16. 
 */</span><span class="s1"> 
 
</span><span class="s0">public class </span><span class="s1">Shooter { 
 
    </span><span class="s0">private </span><span class="s1">DcMotor[] disks; 
    </span><span class="s0">private </span><span class="s1">Servo door; 
    </span><span class="s0">private </span><span class="s1">ColorSensor ballSensor; 
 
    </span><span class="s0">private final double</span><span class="s1">[] doorPositions = {</span><span class="s3">0.3</span><span class="s1">, </span><span class="s3">1</span><span class="s1">}; </span><span class="s2">//open and closed respectively</span><span class="s1"> 
 
    </span><span class="s0">private final double </span><span class="s1">alphaThreshold = </span><span class="s3">55</span><span class="s1">; 
 
    </span><span class="s0">public </span><span class="s1">Shooter(DcMotor[] disks, Servo door, ColorSensor ballSensor) { 
        </span><span class="s0">this</span><span class="s1">.door = door; 
        </span><span class="s0">this</span><span class="s1">.disks = disks; 
        </span><span class="s0">this</span><span class="s1">.ballSensor = ballSensor; 
 
        close(); 
 
        ballSensor.enableLed(</span><span class="s0">true</span><span class="s1">); </span><span class="s2">//turn on LED so we can sense the ball</span><span class="s1"> 
 
        </span><span class="s0">for </span><span class="s1">(DcMotor m : disks) { 
            m.setMode(DcMotor.RunMode.STOP_AND_RESET_ENCODER); 
            m.setMode(DcMotor.RunMode.RUN_USING_ENCODER); 
        } 
 
        disks[</span><span class="s3">1</span><span class="s1">].setDirection(DcMotor.Direction.REVERSE); 
    } 
 
    </span><span class="s0">public void </span><span class="s1">prepShot(</span><span class="s0">double </span><span class="s1">speed) { 
        open(); </span><span class="s2">//open shooter</span><span class="s1"> 
        setDiskMotorPowers(speed / </span><span class="s3">10</span><span class="s1">); </span><span class="s2">//bring motors up to speed by starting the PID</span><span class="s1"> 
    } 
 
    </span><span class="s0">public void </span><span class="s1">shoot(</span><span class="s0">double </span><span class="s1">speed, </span><span class="s0">boolean </span><span class="s1">isAuton) { 
        setDiskMotorPowers(speed / </span><span class="s3">10</span><span class="s1">); </span><span class="s2">//adjust speed (maybe it was prepped lower)</span><span class="s1"> 
        Hardware.getWheels().stop(); </span><span class="s2">//stop the robot in case its moving</span><span class="s1"> 
 
        </span><span class="s0">int </span><span class="s1">count = </span><span class="s3">0</span><span class="s1">; 
 
        </span><span class="s2">//while there's another ball remaining, shoot</span><span class="s1"> 
        </span><span class="s0">while </span><span class="s1">(takeShot((count == </span><span class="s3">1 </span><span class="s1">&amp;&amp; isAuton) || count == </span><span class="s3">2</span><span class="s1">) &amp;&amp; Hardware.active()) count++; 
 
        </span><span class="s2">//reset stuff</span><span class="s1"> 
        Hardware.getIntake().stopElevator(); 
        stop(); </span><span class="s2">//stop the PID</span><span class="s1"> 
        close(); 
        Hardware.getIntake().dropRamp(</span><span class="s3">0</span><span class="s1">); </span><span class="s2">//reset ramp for next intaking</span><span class="s1"> 
    } 
 
    </span><span class="s2">//take shot while regulating speed, stopping elevator after first ball passes through</span><span class="s1"> 
    </span><span class="s2">//return true if another ball remains, and therefore another shot should be taken</span><span class="s1"> 
    </span><span class="s0">private boolean </span><span class="s1">takeShot(</span><span class="s0">boolean </span><span class="s1">isLastShot) { 
        Hardware.getIntake().moveRampForShot(); </span><span class="s2">//move ramp out of way of intake</span><span class="s1"> 
        Hardware.getIntake().startElevator(); </span><span class="s2">//feed shot through the shooter</span><span class="s1"> 
 
 
 
        </span><span class="s2">//wait for the next ball to be in position</span><span class="s1"> 
        </span><span class="s2">//if this command times out, false is returned and no balls remain so no more shots should be taken</span><span class="s1"> 
        </span><span class="s0">boolean </span><span class="s1">takingAnotherShot = waitForNextBall(isLastShot); 
 
        </span><span class="s0">if </span><span class="s1">(takingAnotherShot) { </span><span class="s2">//about to shoot again</span><span class="s1"> 
            </span><span class="s2">//supply negative power to stop the elevator quickly</span><span class="s1"> 
            Hardware.getIntake().runElevator(-</span><span class="s3">0.3</span><span class="s1">); 
            Hardware.sleep(</span><span class="s3">20</span><span class="s1">); 
 
            Hardware.getIntake().stopElevator(); </span><span class="s2">//stop elevator</span><span class="s1"> 
            Hardware.sleep(</span><span class="s3">700</span><span class="s1">); </span><span class="s2">//wait for PID to regain desired velocity</span><span class="s1"> 
        } </span><span class="s0">else </span><span class="s1">{ </span><span class="s2">//no shots remain, stop and return</span><span class="s1"> 
            Hardware.getIntake().stopElevator(); 
        } 
 
        </span><span class="s0">return </span><span class="s1">takingAnotherShot; </span><span class="s2">//return true if another shot is to be taken</span><span class="s1"> 
    } 
 
    </span><span class="s2">//wait for the next ball to be sensed, and return true unless another ball is never found</span><span class="s1"> 
    </span><span class="s0">private boolean </span><span class="s1">waitForNextBall(</span><span class="s0">boolean </span><span class="s1">isLastShot) { 
 
        </span><span class="s0">long </span><span class="s1">started = System.currentTimeMillis(); 
 
        </span><span class="s0">while </span><span class="s1">(hasBall() &amp;&amp; Hardware.active()); </span><span class="s2">//wait for the ball currently being shot to pass through</span><span class="s1"> 
 
        </span><span class="s0">long </span><span class="s1">lastHadBall = System.currentTimeMillis(); 
 
        Hardware.print(</span><span class="s4">&quot;Had ball for &quot; </span><span class="s1">+ (lastHadBall - started) + </span><span class="s4">&quot; ms&quot;</span><span class="s1">); 
 
        </span><span class="s2">//we know this was our last shot because it was shot 2 in auton or 3 in teleop</span><span class="s1"> 
        </span><span class="s0">if </span><span class="s1">(isLastShot) { 
            Hardware.sleep(</span><span class="s3">350</span><span class="s1">); </span><span class="s2">//wait for the last shot to pass</span><span class="s1"> 
            </span><span class="s0">return false</span><span class="s1">; </span><span class="s2">//don't shoot again</span><span class="s1"> 
        } 
 
        </span><span class="s0">long </span><span class="s1">waitForBall = </span><span class="s3">1000</span><span class="s1">; </span><span class="s2">//how long the shooter waits to see another ball before assuming none remain</span><span class="s1"> 
 
        </span><span class="s2">//continue running the elevator (waiting) until you see a new ball, or you time out</span><span class="s1"> 
        </span><span class="s2">//waiting will only cease after at least 50ms have passed since last sensing a ball</span><span class="s1"> 
        </span><span class="s0">while </span><span class="s1">(Hardware.active() &amp;&amp; !hasBall() &amp;&amp; (System.currentTimeMillis() - lastHadBall) &lt; waitForBall || System.currentTimeMillis() - lastHadBall &lt; </span><span class="s3">150</span><span class="s1">); 
 
        Hardware.print(</span><span class="s4">&quot;Waited &quot; </span><span class="s1">+ (System.currentTimeMillis() - lastHadBall) + </span><span class="s4">&quot;ms for next ball&quot;</span><span class="s1">); 
        </span><span class="s0">return </span><span class="s1">System.currentTimeMillis() - lastHadBall &lt; waitForBall; </span><span class="s2">//return true unless no additional balls were found</span><span class="s1"> 
    } 
 
    </span><span class="s0">private void </span><span class="s1">setDiskMotorPowers(</span><span class="s0">double </span><span class="s1">power) { 
        </span><span class="s0">for </span><span class="s1">(DcMotor m : disks) 
            m.setPower(power); 
    } 
 
    </span><span class="s2">//returns true if a ball is sensed in the elevator, ready to be shot</span><span class="s1"> 
    </span><span class="s0">private boolean </span><span class="s1">hasBall() { 
        </span><span class="s0">long </span><span class="s1">stop = System.currentTimeMillis() + </span><span class="s3">75</span><span class="s1">; </span><span class="s2">//take readings for 75 ms</span><span class="s1"> 
 
        </span><span class="s0">double </span><span class="s1">total = </span><span class="s3">0</span><span class="s1">; 
        </span><span class="s0">int </span><span class="s1">count = </span><span class="s3">0</span><span class="s1">; 
 
        </span><span class="s2">//average the color sensor readings</span><span class="s1"> 
        </span><span class="s0">while </span><span class="s1">(System.currentTimeMillis() &lt; stop) { 
            count++; 
            total += getAlpha(); 
        } 
 
        </span><span class="s0">return </span><span class="s1">total / count &gt; alphaThreshold; </span><span class="s2">//return true if our readings were high enough to signify a ball being sensed</span><span class="s1"> 
    } 
 
    </span><span class="s0">public void </span><span class="s1">stop() { 
        setDiskMotorPowers(</span><span class="s3">0</span><span class="s1">); 
    } 
 
    </span><span class="s2">//close shooter door</span><span class="s1"> 
    </span><span class="s0">public void </span><span class="s1">close() { 
        door.setPosition(doorPositions[</span><span class="s3">1</span><span class="s1">]); 
    } 
 
    </span><span class="s2">//open shooter door</span><span class="s1"> 
    </span><span class="s0">private void </span><span class="s1">open() { 
        door.setPosition(doorPositions[</span><span class="s3">0</span><span class="s1">]); 
    } 
 
    </span><span class="s0">public double </span><span class="s1">getAlpha() { 
        </span><span class="s0">return </span><span class="s1">Utils.getMagnitude(ballSensor.red(), ballSensor.blue()); 
    } 
 
} 
</span></pre>
</body>
</html>